## Lambda

In [2]:
def square_fnc(x):
    return x**2

In [3]:
#same with inline function
square=lambda x : x**2

In [4]:
square(2)

4

In [6]:
square_fnc(2)

4

In [8]:
div=lambda num, denom: num/denom if (denom!=0) else ValueError

In [9]:
div(3,0)

ValueError

In [12]:
div(3,2)

1.5

In [10]:
def func(x,y):
    if y!=0:
        return x/y
    else :
        None

In [11]:
func(3,2)

1.5

In [13]:
def generate_range(lower):
    return lambda upper: range(lower,upper)

In [14]:
#in this case I print text as it is code
for i in range(10):
    exec("""print('Hello')""")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [15]:
#on genere i function differente et le (11) est l'input de la fonction lamba :
for i in range(10):
    exec(f"""func{i}=generate_range(i)""")

In [ ]:
#revient Ã  
func1=generate_range(1)
func2=generate_range(2)
func3=generate_range(3)
func4=generate_range(4)
func5=generate_range(5)
#etc

In [19]:
func0(11)

range(0, 11)

In [20]:
func7(11)

range(7, 11)

In [16]:
#il manque l'input de la fonction lamba
generate_range(5)

In [17]:
generate_range(5)(11)

range(5, 11)

In [21]:
list_of_topics=['MySQL','PanDas','Web-Scraping','Tableau','Machine-Learning','Neural-Nets']

In [25]:
#on veut remplacer les tirets par ldes espaces
[i.replace('-',' ') for i in list_of_topics]

['MySQL',
 'PanDas',
 'Web Scraping',
 'Tableau',
 'Machine Learning',
 'Neural Nets']

In [29]:
list_of_topics=[(lambda x:x.replace('-',' '))(i) for i in list_of_topics]

In [30]:
list_of_topics.sort(reverse=True)

In [31]:
list_of_topics

['Web Scraping',
 'Tableau',
 'PanDas',
 'Neural Nets',
 'MySQL',
 'Machine Learning']

In [33]:
dict_of_topics={i:len(i) for i in list_of_topics}

In [34]:
dict_of_topics

{'Web Scraping': 12,
 'Tableau': 7,
 'PanDas': 6,
 'Neural Nets': 11,
 'MySQL': 5,
 'Machine Learning': 16}

In [36]:
# dict_of_values.items() est un tupple
# so x is a tuple and is the input of lambda, and it returns x[1],x[1] is the second arg of the tupple, so the value of dict
# meaning it will sort by the value
sorted(dict_of_topics.items(), key=lambda x:x[1])

[('MySQL', 5),
 ('PanDas', 6),
 ('Tableau', 7),
 ('Neural Nets', 11),
 ('Web Scraping', 12),
 ('Machine Learning', 16)]

In [37]:
## on applique Lambda a Pandas

In [39]:
import pandas as pd

In [42]:
df=pd.read_csv('https://ironhack.school/asset-v1:IRONHACK+DAFT+201910_PAR+type@asset+block@IMDB-Movie-Data.csv')

In [43]:
#on cree la colonne Avgscrore qui est la moyenne entre rating et metascore/10
df['AvgScore']=(df.Rating+df.Metascore/10)/2

In [44]:
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,AvgScore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,7.85
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,6.75
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,6.75
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,6.55
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,5.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0,5.35
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,5.05
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,5.60
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0,3.90
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,3.20

In [45]:
#on veut creer notre propre function pour majorer si film d'horreur et minorer si fantasie
#x = score y=genre
def custom_rating(x,y):
    """x est le genre, y est le score"""
    if x.str.lower().contains("horror"):
        return min(10,y+1)
    elif x.str.lower().contains("fantasy"):
        return max(0,y-1)
    else:
        return y

In [46]:
#crash because contains is only for a string
custom_rating(df.Genre,df.AvgScore)

AttributeError: 'Series' object has no attribute 'contains'

In [47]:
#on veut creer notre propre function pour majorer si film d'horreur et minorer si fantasie
#x = score y=genre
def custom_rating(x,y):
    """x est le genre, y est le score"""
    if "horror" in x.lower():
        return min(10,y+1)
    elif "fantasy" in x.lower():
        return max(0,y-1)
    else:
        return y

In [49]:
#here x is the row
df.apply(lambda x: custom_rating(x.Genre, x.AvgScore),axis=1)

0      7.85
1      6.75
2      7.75
3      6.55
4      4.10
       ...
995    5.35
996    6.05
997    5.60
998    3.90
999    2.20
Length: 1000, dtype: float64

In [50]:
# on creee la colonne correspondante
# here x is the row
df['my_score']=df.apply(lambda x: custom_rating(x.Genre, x.AvgScore),axis=1)

In [51]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,AvgScore,my_score
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,7.85,7.85
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,6.75,6.75
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,6.75,7.75
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,6.55,6.55
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,5.10,4.10

In [53]:
#I want to locate rows with action movies
df.loc[df.Genre.str.contains('Action')]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,AvgScore,my_score
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,7.85,7.85
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,5.10,4.10
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0,5.15,4.15
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0,7.45,7.45
12,13,Rogue One,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17,65.0,7.20,7.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958,959,3 Days to Kill,"Action,Drama,Thriller",A dying CIA agent trying to reconnect with his...,McG,"Kevin Costner, Hailee Steinfeld, Connie Nielse...",2014,117,6.2,73567,30.69,40.0,5.10,5.10
968,969,Wrecker,"Action,Horror,Thriller",Best friends Emily and Lesley go on a road tri...,Micheal Bafaro,"Anna Hutchison, Andrea Whitburn, Jennifer Koen...",2015,83,3.5,1210,NaN,37.0,3.60,4.60
969,970,The Lone Ranger,"Action,Adventure,Western",Native American warrior Tonto recounts the unt...,Gore Verbinski,"Johnny Depp, Armie Hammer, William Fichtner,To...",2013,150,6.5,190855,89.29,NaN,NaN,NaN
990,991,Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,"Rhona Mitra, Michael Sheen, Bill Nighy, Steven...",2009,92,6.6,129708,45.80,44.0,5.50,4.50
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0,4.80,5.80

In [54]:
#maintenant on veut les lignes action qui n'ont pas plus de 2 types
# il n'y aura qu'une seule virgule
df.loc[df.Genre.str.contains('Action')&(df.Genre.str.count(',')==1)]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,AvgScore,my_score
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0,6.25,6.25
76,77,The Avengers,"Action,Sci-Fi",Earth's mightiest heroes must come together an...,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",2012,143,8.1,1045588,623.28,69.0,7.50,7.50
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0,8.15,8.15
177,178,Tropic Thunder,"Action,Comedy","Through a series of freak occurrences, a group...",Ben Stiller,"Ben Stiller, Jack Black, Robert Downey Jr., Je...",2008,107,7.0,321442,110.42,71.0,7.05,7.05
219,220,Kick-Ass,"Action,Comedy",Dave Lizewski is an unnoticed high school stud...,Matthew Vaughn,"Aaron Taylor-Johnson, Nicolas Cage, ChloÃ« Grac...",2010,117,7.7,456749,48.04,66.0,7.15,7.15
284,285,Hercules,"Action,Adventure","Having endured his legendary twelve labors, He...",Brett Ratner,"Dwayne Johnson, John Hurt, Ian McShane, Joseph...",2014,98,6.0,122838,72.66,47.0,5.35,5.35
285,286,Sucker Punch,"Action,Fantasy",A young girl is institutionalized by her abusi...,Zack Snyder,"Emily Browning, Vanessa Hudgens, Abbie Cornish...",2011,110,6.1,204874,36.38,33.0,4.70,3.70
286,287,Keeping Up with the Joneses,"Action,Comedy",A suburban couple becomes embroiled in an inte...,Greg Mottola,"Zach Galifianakis, Isla Fisher, Jon Hamm, Gal ...",2016,105,5.8,30405,14.90,34.0,4.60,4.60
317,318,The Stakelander,"Action,Horror",When his home of New Eden is destroyed by a re...,Dan Berk,"Connor Paolo, Nick Damici, Laura Abramsen, A.C...",2016,81,5.3,1263,NaN,NaN,NaN,10.00
344,345,Spider-Man 3,"Action,Adventure",A strange black entity from another world bond...,Sam Raimi,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th...",2007,139,6.2,406219,336.53,59.0,6.05,6.05
368,369,The Amazing Spider-Man,"Action,Adventure",After Peter Parker is bitten by a genetically ...,Marc Webb,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa...",2012,136,7.0,474320,262.03,66.0,6.80,6.80
390,391,Keanu,"Action,Comedy",When an L.A. drug kingpin's kitten unexpectedl...,Peter Atencio,"Keegan-Michael Key, Jordan Peele, Tiffany Hadd...",2016,100,6.3,31913,20.57,63.0,6.30,6.30
410,411,Taken,"Action,Thriller",A retired CIA agent travels across Europe and ...,Pierre Morel,"Liam Neeson, Maggie Grace, Famke Janssen, Lela...",2008,93,7.8,502961,145.00,50.0,6.40,6.40
446,447,Dredd,"Action,Sci-Fi","In a violent, futuristic city where the police...",Pete Travis,"Karl Urban, Olivia Thirlby, Lena Headey, Rache...",2012,95,7.1,213764,13.40,59.0,6.50,6.50
453,454,Olympus Has Fallen,"Action,Thriller",Disgraced Secret Service agent (and former pre...,Antoine Fuqua,"Gerard Butler, Aaron Eckhart, Morgan Freeman,A...",2013,119,6.5,214994,98.90,41.0,5.30,5.30
624,625,Taken 3,"Action,Thriller",Ex-government operative Bryan Mills is accused...,Olivier Megaton,"Liam Neeson, Forest Whitaker, Maggie Grace,Fam...",2014,109,6.0,144715,89.25,26.0,4.30,4.30
674,675,War on Everyone,"Action,Comedy",Two corrupt cops set out to blackmail and fram...,John Michael McDonagh,"Alexander SkarsgÃ¥rd, Michael PeÃ±a, Theo James,...",2016,98,5.9,9285,NaN,50.0,5.45,5.45
766,767,Ender's Game,"Action,Sci-Fi",Young Ender Wiggin is recruited by the Interna...,Gavin Hood,"Harrison Ford, Asa Butterfield, Hailee Steinfe...",2013,114,6.7,194236,61.66,NaN,NaN,NaN
777,778,Final Girl,"Action,Thriller",A man teaches a young woman how to become a co...,Tyler Shields,"Abigail Breslin, Wes Bentley, Logan Huffman,Al...",2015,90,4.7,9026,NaN,56.0,5.15,5.15
837,838,You Don't Mess with the Zohan,"Action,Comedy",An Israeli Special Forces Soldier fakes his de...,Dennis Dugan,"Adam Sandler, John Turturro, Emmanuelle Chriqu...",2008,113,5.5,163144,100.02,54.0,5.45,5.45
844,845,Unstoppable,"Action,Thriller","With an unmanned, half-mile-long freight train...",Tony Scott,"Denzel Washington, Chris Pine, Rosario Dawson,...",2010,98,6.8,157499,81.56,69.0,6.85,6.85
872,873,Red Dawn,"Action,Thriller",A group of teenagers look to save their town f...,Dan Bradley,"Chris Hemsworth, Isabel Lucas, Josh Hutcherson...",2012,93,5.4,64584,44.80,31.0,4.25,4.25
923,924,No Escape,"Action,Thriller","In their new overseas home, an American family...",John Erick Dowdle,"Lake Bell, Pierce Brosnan, Owen Wilson,Chatcha...",2015,103,6.8,57921,27.29,38.0,5.30,5.30

In [55]:
#une autre methode est de ne considerer que la colonne Genre et de la scanner avec Apply
#x is then the cellule of Genre
df.loc[df.Genre.apply(lambda x: ('Action' in x)&(x.count(',')==1))];

In [56]:
#same result avec map :
df.loc[df.Genre.map(lambda x: ('Action' in x)&(x.count(',')==1))]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,AvgScore,my_score
17,18,Jason Bourne,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0,6.25,6.25
76,77,The Avengers,"Action,Sci-Fi",Earth's mightiest heroes must come together an...,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",2012,143,8.1,1045588,623.28,69.0,7.50,7.50
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0,8.15,8.15
177,178,Tropic Thunder,"Action,Comedy","Through a series of freak occurrences, a group...",Ben Stiller,"Ben Stiller, Jack Black, Robert Downey Jr., Je...",2008,107,7.0,321442,110.42,71.0,7.05,7.05
219,220,Kick-Ass,"Action,Comedy",Dave Lizewski is an unnoticed high school stud...,Matthew Vaughn,"Aaron Taylor-Johnson, Nicolas Cage, ChloÃ« Grac...",2010,117,7.7,456749,48.04,66.0,7.15,7.15
284,285,Hercules,"Action,Adventure","Having endured his legendary twelve labors, He...",Brett Ratner,"Dwayne Johnson, John Hurt, Ian McShane, Joseph...",2014,98,6.0,122838,72.66,47.0,5.35,5.35
285,286,Sucker Punch,"Action,Fantasy",A young girl is institutionalized by her abusi...,Zack Snyder,"Emily Browning, Vanessa Hudgens, Abbie Cornish...",2011,110,6.1,204874,36.38,33.0,4.70,3.70
286,287,Keeping Up with the Joneses,"Action,Comedy",A suburban couple becomes embroiled in an inte...,Greg Mottola,"Zach Galifianakis, Isla Fisher, Jon Hamm, Gal ...",2016,105,5.8,30405,14.90,34.0,4.60,4.60
317,318,The Stakelander,"Action,Horror",When his home of New Eden is destroyed by a re...,Dan Berk,"Connor Paolo, Nick Damici, Laura Abramsen, A.C...",2016,81,5.3,1263,NaN,NaN,NaN,10.00
344,345,Spider-Man 3,"Action,Adventure",A strange black entity from another world bond...,Sam Raimi,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th...",2007,139,6.2,406219,336.53,59.0,6.05,6.05
368,369,The Amazing Spider-Man,"Action,Adventure",After Peter Parker is bitten by a genetically ...,Marc Webb,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa...",2012,136,7.0,474320,262.03,66.0,6.80,6.80
390,391,Keanu,"Action,Comedy",When an L.A. drug kingpin's kitten unexpectedl...,Peter Atencio,"Keegan-Michael Key, Jordan Peele, Tiffany Hadd...",2016,100,6.3,31913,20.57,63.0,6.30,6.30
410,411,Taken,"Action,Thriller",A retired CIA agent travels across Europe and ...,Pierre Morel,"Liam Neeson, Maggie Grace, Famke Janssen, Lela...",2008,93,7.8,502961,145.00,50.0,6.40,6.40
446,447,Dredd,"Action,Sci-Fi","In a violent, futuristic city where the police...",Pete Travis,"Karl Urban, Olivia Thirlby, Lena Headey, Rache...",2012,95,7.1,213764,13.40,59.0,6.50,6.50
453,454,Olympus Has Fallen,"Action,Thriller",Disgraced Secret Service agent (and former pre...,Antoine Fuqua,"Gerard Butler, Aaron Eckhart, Morgan Freeman,A...",2013,119,6.5,214994,98.90,41.0,5.30,5.30
624,625,Taken 3,"Action,Thriller",Ex-government operative Bryan Mills is accused...,Olivier Megaton,"Liam Neeson, Forest Whitaker, Maggie Grace,Fam...",2014,109,6.0,144715,89.25,26.0,4.30,4.30
674,675,War on Everyone,"Action,Comedy",Two corrupt cops set out to blackmail and fram...,John Michael McDonagh,"Alexander SkarsgÃ¥rd, Michael PeÃ±a, Theo James,...",2016,98,5.9,9285,NaN,50.0,5.45,5.45
766,767,Ender's Game,"Action,Sci-Fi",Young Ender Wiggin is recruited by the Interna...,Gavin Hood,"Harrison Ford, Asa Butterfield, Hailee Steinfe...",2013,114,6.7,194236,61.66,NaN,NaN,NaN
777,778,Final Girl,"Action,Thriller",A man teaches a young woman how to become a co...,Tyler Shields,"Abigail Breslin, Wes Bentley, Logan Huffman,Al...",2015,90,4.7,9026,NaN,56.0,5.15,5.15
837,838,You Don't Mess with the Zohan,"Action,Comedy",An Israeli Special Forces Soldier fakes his de...,Dennis Dugan,"Adam Sandler, John Turturro, Emmanuelle Chriqu...",2008,113,5.5,163144,100.02,54.0,5.45,5.45
844,845,Unstoppable,"Action,Thriller","With an unmanned, half-mile-long freight train...",Tony Scott,"Denzel Washington, Chris Pine, Rosario Dawson,...",2010,98,6.8,157499,81.56,69.0,6.85,6.85
872,873,Red Dawn,"Action,Thriller",A group of teenagers look to save their town f...,Dan Bradley,"Chris Hemsworth, Isabel Lucas, Josh Hutcherson...",2012,93,5.4,64584,44.80,31.0,4.25,4.25
923,924,No Escape,"Action,Thriller","In their new overseas home, an American family...",John Erick Dowdle,"Lake Bell, Pierce Brosnan, Owen Wilson,Chatcha...",2015,103,6.8,57921,27.29,38.0,5.30,5.30